header#main-header{
    background:  orange;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}