.card-body{
    text-align: center;
}
.card-body a{
    color: rgb(180, 77, 77);
    text-decoration: none;
    border-style: solid;
    border-color: rgb(180, 77, 77);
    border-width: 1.5px;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}
.card-body a:hover{
    color: whitesmoke;
    border-color: rgb(211, 21, 21);
    background-color: rgb(211, 21, 21);
}
.container-fluid .actions{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 20px 0;
    font-weight: bold;
    cursor: pointer;
}
.container-fluid .actions button[disabled]{
    opacity: 0.5;
    cursor: default;
}
.container-fluid .actions button[disabled]:hover{
    opacity: 0.5;
}
.container-fluid .actions button:hover{
    opacity: 0.7;
}